@* Pobiera tekst o określonej długości oraz czyści z tagów html takich jak <p></p>, <span></span>, <b></b> i tak dalej *@

@model Tuple<string,int>

@{

    int length = Model.Item2;
    string text = Model.Item1;


    try
    {
        if (!string.IsNullOrEmpty(text))
        {
            if (text.Length > length)
            {
                text = text = Regex.Replace(text, "<.*?>", string.Empty);
                text = text.Substring(0, length);
                <span>@text.Trim()</span>
            }
            else
            {
                <span>@text.Trim()</span>
            }
        }
    }
    catch { }
}