<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movies and categories</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    </environment>
</head>
<body>


    @if (SignInManager.IsSignedIn(User))
    {
        <div class="db">

            <div class="df-sb centery" style="position: absolute; left: 0px; top: 0px; right: 0px; height: 65px; box-shadow: 0px 0px 0px rgb(100,100,100); background-color: rgb(255,255,255); border-bottom: 1px solid rgb(220,220,220);">
                <div class="" style="width: 350px;">
                </div>

                <div class="w-100 df-sb">
                    <div>
                        <span style="font-size: 20px; font-weight: bold;">Panel administracyjny</span>
                    </div>

                    <div class="df centery">
                        <div>
                            Zalogowany użytkownik
                            <span style="font-weight: bold;">@User.Identity.Name</span>
                            <span class="ml-10">Ustawienia</span>
                        </div>


                        <!-- dropdown button -->
                        <div class="dropdown-container">
                            <div class="dropdown">
                                <button class="dropbtn">></button>
                                <div class="dropdown-content">
                                    <a asp-action="ChangeEmail" asp-controller="Account">Zmień email</a>
                                    <a asp-action="ChangePassword" asp-controller="Account">Zmień hasło</a>

                                    @*Opcja "Delete" nie jest dostępna dla administratora wtedy gdy ich liczba jest >= 1*@
                                    @{
                                        try
                                        {
                                            if (SignInManager.IsSignedIn(User))
                                            {
                                                // aby istniała możliwość usunięcia konta musi być co najmniej jeden administrator, aby móc potem utworzyć kolejne konto administratora
                                                if ((await UserManager.GetUsersInRoleAsync("Administrator")).Count > 1 && User.Identity.Name != "admin@admin.pl")
                                                {
                                                    <a asp-action="Delete" asp-controller="Account">Usuń konto</a>
                                                }
                                            }
                                        }
                                        catch { }
                                    }

                                    <a asp-action="Edit" asp-controller="Account" onclick="clearSessions();">Zaktualizuj dane</a>
                                    <a asp-action="Messages" asp-controller="Account">Wiadomości</a>
                                    <a asp-action="Logout" asp-controller="Account">Wyloguj</a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>





            <div class="container df" style="margin-top: 65px;">
                <partial name="_leftNavigation" />

                <div class="w-100">
                    <div class="db ml-20 mr-20 mb-20">

                        <partial name="_navigationInfo" />


                        <div class="">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        @RenderBody()
    }




    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/paginator.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
