
@{
    var movies = Context.Movies.ToList ();
    var categories = Context.Categories.ToList ();
    var logowania = Context.Logowania.ToList ();
}

<div class="w-250px pr">
    <div class="w-250px">
        <div class="w-250px db leftNavigation">

            <div class="db p-10 mt-20 mb-30">
                <p style="font-size: 40px; font-weight: bold;">Movies</p>
                <p style="font-size: 20px; margin-left: 20px;">management</p>
            </div>

            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home" class="buttonEdit">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Movies" class="buttonDelete">Movies (@movies.Count)</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Categories" class="buttonEdit">Categories (@categories.Count)</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Logowania" class="buttonEdit">Historia logowań (@logowania.Count)</a>
                </li>
                <li>
                    <div class="b mt-10">Ustawienia</div>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Account" class="buttonEdit b">Zmień adres email</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Account" class="buttonEdit b">Zmień hasło</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Account" class="buttonEdit b">Zmień dane osobowe</a>
                </li>

                <li>
                    <a asp-action="Logout" asp-controller="Account" class="buttonEdit b">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</div>

 