<div class="topNavigation">
    <ul>
        <li>
            <a asp-area="" asp-controller="" asp-action="Home">Home</a>
            <a asp-area="" asp-controller="" asp-action="Home">Movies</a>
            <a asp-area="" asp-controller="" asp-action="Home">Categories</a> 
        </li>
    </ul>
</div>