@model ForgotPasswordDto


<div class="dodawanieHeader">
    <span class="titleHeader">Resetowanie hasła</span>
</div>
<hr />

<form method="post" asp-action="ForgotPassword" asp-controller="Account">

    <table>
        <tr>
            <td class="leftColumn">
                <span>Podaj adres email</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>


    <div class="w-100 df-sb mt-30 mb-40">
        <input type="submit" value="Wyślij" class="buttonEdit w-100px" />
    </div>
</form>


<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>