@model ResetPasswordDto

@Model.Email
<br />
@Model.Token

<div class="rightColumnUser">
    @{
        string password = "SDG%$@5423sdgagSDert";
    }
    <h5>@password</h5>

    <div class="headerCe">Resetowanie hasła</div>


    <form method="post" asp-action="ResetPassword" asp-controller="Account"> 
        <input type="hidden" asp-for="Token" />
        


        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Email</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </div>
        </div>


        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="c-red"></span>
                </div>
            </div>
        </div>

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Potwierdź hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="c-red"></span>
                </div>
            </div>
        </div>



        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Account" class="form-button-a">Anuluj</a>
            <input type="submit" value="Zapisz" class="form-button" />
        </div>

    </form>
</div>



<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>