@model GetMovieDto

 
<div class="db">
    <div style="height: 70px;">
        @Model.Title
    </div>

    @if (Model.PhotosMovie != null && Model.PhotosMovie.Any())
    {
        <div style="width: 100%; height: 150px;">
            <partial name="_displayPhoto" model="@Model.PhotosMovie[0].PhotoData" />
        </div>
    }

    <div class="df-sb">
        <div></div>
        <div>
            @Model.Category
        </div>
    </div>
    
    <div>
        @Html.Raw(Model.Description)
    </div>
</div>