@model GetMovieDto


<div class="dodawanieHeader">
    <span class="titleHeader">Edycja istniejącej pozycji</span>
</div>
<hr />


    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Title"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Title" />
                    <span asp-validation-for="Title" class="c-red"></span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="leftColumn">
                <label asp-for="Description"></label>
            </td>            
            <td class="rightColumn">
                <div class="db">
                    <textarea asp-for="Description" style="height: 150px;"></textarea>
                </div>
            </td>
        </tr>

        <tr>
            <td class="leftColumn">
                <label asp-for="Price"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Price" />
                    <span asp-validation-for="Price" class="c-red"></span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="leftColumn">
                <label asp-for="CategoryId">Kategoria</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="CategoryId" asp-items="Model.CategoriesList" class="w-200px form-input2"></select>
                    <span asp-validation-for="CategoryId" class="c-red"></span>
                </div>
            </td>
        </tr>

        @if (Model.PhotosMovie != null && Model.PhotosMovie.Any())
        {
            <tr>
                <td>
                    Zdjęcia
                </td>
                <td>
                    <div class="db">
                        @foreach (var photoMovie in Model.PhotosMovie)
                        {
                            <div class="image w-200px">
                                <partial name="_displayPhoto" model="@photoMovie.PhotoData" />
                            </div>

                            <a asp-action="DeletePhotoMovie"
                               asp-controller="Movies"
                               asp-route-movieId="@photoMovie.MovieId"
                               asp-route-photoMovieId="@photoMovie.PhotoMovieId">
                                Usuń zdjęcie
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>




<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>
