@model ChangeUserPasswordDto


<div class="rightColumnUser">
    @{
        string password = "SDG%$@5423sdgagSDert";
    }
    <h5>@password</h5>

    <div class="headerCe">Zmiana hasła</div>


    <form method="post" asp-action="ChangePassword" asp-controller="Users">
        <input type="hidden" asp-for="Id" />

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Nowe hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="c-red"></span>
                </div>
            </div>
        </div>

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Powtórz nowe hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="c-red"></span>
                </div>
            </div>
        </div>



        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Users" class="form-button-a">Anuluj</a>
            <input type="submit" value="Zapisz" class="form-button" />
        </div>

    </form>
</div>



<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@Model.Message</span>