@model CreateUserDto

@{
    string password = "SDG%$@5423sdgagSDert";
}
<h5>@password</h5>



<div class="dodawanieHeader">
    <span class="titleHeader">Tworzenie nowego użytkownika</span>
</div>
<hr />


<form method="post" asp-action="Create" asp-controller="Users" enctype="multipart/form-data">



    <div class="dodawanieHeader">
        <span class="titleHeader">Dane dotyczące logowania</span>
    </div>


    <!-- tabela zawartości -->
    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Email"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Password"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>



    <div class="dodawanieHeader">
        <span class="titleHeader">Dane osobowe (opcjonalnie)</span>
    </div>

    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Imie"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Imie" />
                    <span asp-validation-for="Imie" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Nazwisko"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Nazwisko" />
                    <span asp-validation-for="Nazwisko" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Ulica"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Ulica" />
                    <span asp-validation-for="Ulica" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Miejscowosc"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Miejscowosc" />
                    <span asp-validation-for="Miejscowosc" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Wojewodztwo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Wojewodztwo" />
                    <span asp-validation-for="Wojewodztwo" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Kod pocztowy</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="KodPocztowy" />
                    <span asp-validation-for="KodPocztowy" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Pesel"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Pesel" />
                    <span asp-validation-for="Pesel" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data urodzenia</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="DataUrodzenia" />
                    <span asp-validation-for="DataUrodzenia" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Telefon"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Telefon" />
                    <span asp-validation-for="Telefon" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Photo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <div id="imageContainer" class="image">
                        <img id="imagePreview" alt="Uploaded Photo" style="display: none;" />
                    </div>
                    <input id="files" asp-for="Files" multiple onchange="saveFiles()" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Plec">Plec</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="Plec" asp-items='@new SelectList(Enum.GetValues(typeof(Plec)))' class="w-200px form-input2"></select>
                    <span asp-validation-for="Plec" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Rola</span>
            </td>
            <td class="rightColumn">
                @if(Model.RolesList != null)
                {
                    <div class="db">
                        <select asp-for="RoleName" asp-items="Model.RolesList" class="w-200px form-input2"></select>
                        <span asp-validation-for="RoleName" class="c-red"></span>
                    </div>
                }
            </td>
        </tr>
    </table>



    <!-- dolne przyciski -->
    <div class="w-100 df-sb mt-30 mb-40">
        <a asp-action="Index" asp-controller="Users" class="buttonWstecz w-100px">Wstecz</a>
        <div class="df">
            <input type="submit" value="Zapisz" class="buttonEdit w-100px" onclick="clearSession();" />
            <a asp-action="Index" asp-controller="Users" class="buttonAnuluj w-100px ml-2">Anuluj</a>
        </div>
    </div>

</form>


<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>









@section Scripts {

    @*Skrypt pozwalający zapamiętać wybrane zdjęcia po przeładowaniu strony*@
    <script>
        var filesInput = document.getElementById('files');
        // Funkcja do zapisywania przesłanych plików w sessionStorage
        function saveFiles() {
            var files = filesInput.files;

            if (files.length > 0) {
                var filesArray = Array.from(files);
                var filesData = filesArray.map(file => {
                    return {
                        name: file.name,
                        type: file.type,
                        size: file.size
                    };
                });

                sessionStorage.setItem('uploadedFiles', JSON.stringify(filesData));
            }
        }

        // Funkcja pobiera dane z sesji do zmiennej po załadowaniu okna
        window.onload = function () {
            var uploadedFilesData = sessionStorage.getItem('uploadedFiles');
            if (uploadedFilesData) {
                var uploadedFiles = JSON.parse(uploadedFilesData); // zamienia tekst na obiekt


                // Utworzenie nowej listy plików
                var newFilesList = new DataTransfer();

                uploadedFiles.forEach(file => {
                    // Utworzenie nowego pliku i dodanie go do listy plików
                    var newFile = new File([], file.name, { type: file.type, size: file.size });
                    newFilesList.items.add(newFile);
                });

                // Przypisanie nowej listy plików do pola input
                filesInput.files = newFilesList.files;
                sessionStorage.clear();
            }
        };
    </script>
}