@model CreateUserDto

@{
    string password = "SDG%$@5423sdgagSDert";
}
<h5>@password</h5>



<div class="dodawanieHeader">
    <span class="titleHeader">Tworzenie nowego użytkownika</span>
</div>
<hr />

<form method="post" asp-action="Create" asp-controller="Users" enctype="multipart/form-data">


    
    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Email"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Password"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Imie"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Imie" />
                    <span asp-validation-for="Imie" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Nazwisko"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Nazwisko" />
                    <span asp-validation-for="Nazwisko" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Ulica"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Ulica" />
                    <span asp-validation-for="Ulica" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Miejscowosc"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Miejscowosc" />
                    <span asp-validation-for="Miejscowosc" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Wojewodztwo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Wojewodztwo" />
                    <span asp-validation-for="Wojewodztwo" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Kod pocztowy</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="KodPocztowy" />
                    <span asp-validation-for="KodPocztowy" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Pesel"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Pesel" />
                    <span asp-validation-for="Pesel" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data urodzenia</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="DataUrodzenia" />
                    <span asp-validation-for="DataUrodzenia" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Telefon"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Telefon" />
                    <span asp-validation-for="Telefon" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Photo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <div id="imageContainer" class="image">
                        <img id="imagePreview" alt="Uploaded Photo" style="display: none;" />
                    </div>
                    <input asp-for="PhotoData" id="fileInput" accept="image/*" onchange="previewImage(event); saveFiles();" style="border: none; background-color: rgb(250,250,250);" />
                    
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Plec">Plec</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="Plec" asp-items='@new SelectList(Enum.GetValues(typeof(Plec)))' class="w-200px form-input2"></select>
                    <span asp-validation-for="Plec" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Rola</span>
            </td>
            <td class="rightColumn">
                @if(Model.RolesList != null)
                {
                    <div class="db">
                        <select asp-for="RoleName" asp-items="Model.RolesList" class="w-200px form-input2"></select>
                        <span asp-validation-for="RoleName" class="c-red"></span>
                    </div>
                }
            </td>
        </tr>
    </table>



    <div class="w-100 df-sb mt-30 mb-40">
        <a asp-action="Index" asp-controller="Users" class="buttonWstecz w-100px">Wstecz</a>
        <div class="df">
            <input type="submit" value="Zapisz" class="buttonEdit w-100px" />
            <a asp-action="Index" asp-controller="Users" class="buttonAnuluj w-100px ml-2">Anuluj</a>
        </div>
    </div>
</form>


<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>







@section Scripts {

    @*Skrypt pozwalający zapamiętać wybrane zdjęcia po przeładowaniu strony*@
    <script>
        var filesInput = document.getElementById('fileInput');
        var imagePreview = document.getElementById('imagePreview');

        // Funkcja do zapisywania przesłanych plików w sessionStorage
        function saveFiles() {
            var files = filesInput.files;

            if (files.length > 0) {
                var filesArray = Array.from(files);
                var filesData = filesArray.map(file => {
                    return {
                        name: file.name,
                        type: file.type,
                        size: file.size
                    };
                });

                // Zapisywanie plików w sessionStorage
                sessionStorage.setItem('uploadPhoto', JSON.stringify(filesData));

                // Konwertowanie plików na Base64
                filesArray.forEach(file => {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        // Zapisz Base64 w sessionStorage
                        var uploadedFilesBase64 = sessionStorage.getItem('uploadedFilesBase64') ? JSON.parse(sessionStorage.getItem('uploadedFilesBase64')) : [];
                        uploadedFilesBase64.push(e.target.result);
                        sessionStorage.setItem('uploadedFilesBase64', JSON.stringify(uploadedFilesBase64));
                    }
                    reader.readAsDataURL(file);
                });
            }
        }

        // Funkcja pobiera dane z sesji do zmiennej po załadowaniu okna
        window.onload = function () {
            var uploadedFilesData = sessionStorage.getItem('uploadPhoto');
            var uploadedFilesBase64 = sessionStorage.getItem('uploadedFilesBase64');

            let imageContainer = document.getElementById('imageContainer');

            if (uploadedFilesBase64) {
                var base64Files = JSON.parse(uploadedFilesBase64);

                // Wyświetlenie pierwszego obrazu w imagePreview
                if (base64Files.length > 0) {
                    imagePreview.src = base64Files[0]; // Zakładamy, że chcemy wyświetlić tylko pierwszy obraz
                    imagePreview.style.display = 'block'; // Upewnij się, że obraz jest widoczny
                }
            }

            if (uploadedFilesData) {
                var uploadedFiles = JSON.parse(uploadedFilesData); // zamienia tekst na obiekt

                // Utworzenie nowej listy plików
                var newFilesList = new DataTransfer();

                uploadedFiles.forEach(file => {
                    // Utworzenie nowego pliku i dodanie go do listy plików
                    var newFile = new File([], file.name, { type: file.type, size: file.size });
                    newFilesList.items.add(newFile);
                });

                // Przypisanie nowej listy plików do pola input
                filesInput.files = newFilesList.files;

                imageContainer.style.width = '150px';
                imageContainer.style.height = '150px';
            }

            // Usuń tę linię, aby nie czyścić sessionStorage
            // sessionStorage.clear();
        };




        // funkcja odpowiedzialna za wyświetlenie zdjęcia w img
        function previewImage(event) {

            imageContainer.style.width = '150px';
            imageContainer.style.height = '150px';

            const file = event.target.files[0]; // pobierz pierwszy plik
            const reader = new FileReader();

            reader.onload = function (e) {

                const img = document.getElementById('imagePreview');
                img.src = e.target.result; // ustaw źródło obrazu
                img.style.display = 'block'; // wyświetl obraz
            }

            if (file) {
                reader.readAsDataURL(file); // konwertuj plik na URL
            }
        }
    </script>
}
