@model CreateUserDto

@{
    string password = "SDG%$@5423sdgagSDert";
}
<h5>@password</h5>



<div class="dodawanieHeader">
    <span class="titleHeader">Tworzenie nowego użytkownika</span>
</div>
<hr />


<form method="post" asp-action="Create" asp-controller="Users" enctype="multipart/form-data">



    <div class="dodawanieHeader">
        <span class="titleHeader">Dane dotyczące logowania</span>
    </div>


    <!-- tabela zawartości -->
    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Email"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Email" placeholder="adres@email.pl" />
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Password"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Password" placeholder="************" />
                    <span asp-validation-for="Password" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>



    <div class="dodawanieHeader">
        <span class="titleHeader">Dane osobowe (opcjonalnie)</span>
    </div>

    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Imie"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Imie" placeholder="Jan" />
                    <span asp-validation-for="Imie" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Nazwisko"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Nazwisko" placeholder="Kowalski" />
                    <span asp-validation-for="Nazwisko" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Ulica"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Ulica" placeholder="Marszałkowska 15" />
                    <span asp-validation-for="Ulica" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Miejscowosc"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Miejscowosc" placeholder="Warszawa" />
                    <span asp-validation-for="Miejscowosc" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Wojewodztwo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Wojewodztwo" placeholder="Mazowieckie" />
                    <span asp-validation-for="Wojewodztwo" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Kod pocztowy</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="KodPocztowy" placeholder="21-222" />
                    <span asp-validation-for="KodPocztowy" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Pesel"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Pesel" placeholder="12312312312" />
                    <span asp-validation-for="Pesel" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data urodzenia</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="DataUrodzenia" placeholder="12.12.1999" />
                    <span asp-validation-for="DataUrodzenia" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Telefon"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Telefon" placeholder="346-346-236" />
                    <span asp-validation-for="Telefon" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Plec">Plec</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="Plec" asp-items='@new SelectList(Enum.GetValues(typeof(Plec)))' class="w-200px form-input2"></select>
                    <span asp-validation-for="Plec" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Rola</span>
            </td>
            <td class="rightColumn">
                @if(Model.RolesList != null)
                {
                    <div class="db">
                        <select asp-for="RoleName" asp-items="Model.RolesList" class="w-200px form-input2"></select>
                        <span asp-validation-for="RoleName" class="c-red"></span>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Dodaj zdjęcie</span>
            </td>
            <td class="rightColumn">
                <div class="db fieldEdit">
                    <div id="imageContainer" class="db"></div>
                    <input id="files" asp-for="Files" accept="image/*" multiple onchange="saveFiles();" />
                </div>
            </td>
        </tr>
    </table>



    <!-- dolne przyciski -->
    <div class="w-100 df-sb mt-30 mb-40">
        <a asp-action="Index" asp-controller="Users" class="buttonWstecz w-100px">Wstecz</a>
        <div class="df">
            <input type="submit" value="Zapisz" class="buttonEdit w-100px" onclick="clearSession();" />
            <a asp-action="Index" asp-controller="Users" class="buttonAnuluj w-100px ml-2">Anuluj</a>
        </div>
    </div>

</form>




<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>


