<div id="deleteConfirmationPopup" class="modal" style="display:none;">
    <div class="modal-content">
        <h4>Are you sure you want to delete this photo?</h4>
        <button id="confirmDelete" class="btn btn-success">Yes</button>
        <button id="cancelDelete" class="btn btn-secondary">No</button>
    </div>
</div>